<div class="navigation">
  <div style="float: left;">
    <a href="/"><img class="icon" src="/images/home.png" /></a>
    <a href="/add"><img class="icon" src="/images/add.png" /></a>
  </div>

  <div class="notification"><%=message%></div>
  <div>
    <a href="/backup">
      <input type="image" class="icon" style="margin-left: 20px;" src="/images/backup.png" />
    </a>
  </div>
  <div>
    <a href="/logout">
      <input type="image" class="icon" style="margin-left: 20px;" src="/images/logout.png" />
    </a>
  </div>
</div>
