<!DOCTYPE html>
<html lang="en">
  <head>
    <title>S & D Private Database</title>
    <link rel="shortcut icon" href="/images/icon.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>S & D Private Database</h1>
      <div class="notification">
        <%=message%>
      </div>
      <div class="txtbox">
        <form action="/" method="post">
          <input type="text" name="username" placeholder="Username" required />
          <br />
          <br />
          <input type="password" name="password" placeholder="Password" required />
          <br />
          <br />
          <input type="submit" class="btn" value="Sign in" />
        </form>
      </div>
      <div class="footer">S & D Private Database | github: @Sajjal</div>
    </div>
  </body>
</html>
